In [1]:
a='vamshi'
print(a)

vamshi

In [4]:
#printing between numbers..........
m=int(input("Enter value of m: "))
n=int(input("Enter value of n: "))
sum=0
while(m<=n):
    sum=sum+m
    m=m+1
print("Sum = ",sum)

Enter value of m: 1
Enter value of n: 10
Sum =  55

In [12]:
#sum of digits.............
m=int(input("Enter value of m: "))
sum=0
num=m
while(0<num):
    rem=num%10
    sum+=rem
    num=num//10
print("Sum = ",sum)

Enter value of m: 44
Sum =  8

In [13]:
#Checking for Harshed/Niven's number................ 
m=int(input("Enter value of m: "))
sum=0
num=m
while(0<num):
    rem=num%10
    sum+=rem
    num=num//10
print("Sum = ", sum)
if(m%sum==0):
    print(m, " is the Niven's number")
else:
    print(m, "is Not a Niven's number")

Enter value of m: 72
Sum =  9
72  is the Niven's number

In [16]:
m=int(input("Enter value of m: "))
sum=0
num=m
while(0<num):
    rem=num%10
    num=num//10
    print(rem, end=" ")

Enter value of m: 123
3 2 1

In [27]:
m=int(input("Enter value of m: "))
s=0
num=m
while(0<num):
    rem=num%10
    s=s*10+rem
    num=num//10
print(s)
if(s==m):
    print(m, " is the Palindrome")
else:
    print(m, "is Not a Palindrome")

Enter value of m: 12321
12321
12321  is the Palindrome

In [22]:
#reverse of a number using Join keyword...............
num=1234
n_str = str(num)
r_num = ' '.join(reversed(n_str))
print(r_num)

4 3 2 1

In [37]:
#reverse of a number using Function...............
def rev(n):
    if len(n)==0:
        return n
    return rev(n[1:]) +n[0]
num = 1234
n_str = str(num)
r_num = rev(n_str)
print(r_num)

4321

In [40]:
#average of n numbers..................
n=int(input("Enter value of n: "))
avg = 0.0
s = 0
for i in range(1, n+1):
    s=s+i
avg = s/i
print("Sum  = ", s)
print("Avg = ", avg)

Enter value of n: 15
Sum  =  120
Avg =  8.0

In [44]:
#multiplication table...............
n=int(input("Enter number=="))
for i in range(1, 11):
    print(n,"*",i,"=",n*i)

Enter number==5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [45]:
#multiplication table...............
n=int(input("Enter number=="))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Enter number==6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [58]:
#leap and non leap years....................
print("leap years:")
for i in range(1900, 2101):
    if(i%4==0):
        print(i, end="      ")
print("\nNon leap years:")
for i in range(1900, 2101):
    if(i%4!=0):
        print(i, end="      ")

leap years:
1900      1904      1908      1912      1916      1920      1924      1928      1932      1936      1940      1944      1948      1952      1956      1960      1964      1968      1972      1976      1980      1984      1988      1992      1996      2000      2004      2008      2012      2016      2020      2024      2028      2032      2036      2040      2044      2048      2052      2056      2060      2064      2068      2072      2076      2080      2084      2088      2092      2096      2100
Non leap years:
1901      1902      1903      1905      1906      1907      1909      1910      1911      1913      1914      1915      1917      1918      1919      1921      1922      1923      1925      1926      1927      1929      1930      1931      1933      1934      1935      1937      1938      1939      1941      1942      1943      1945      1946      1947      1949      1950      1951      1953      1954      1955      1957      1958      1959      1961      1962      1963      1965      1966      1967      1969      1970      1971      1973      1974      1975      1977      1978      1979      1981      1982      1983      1985      1986      1987      1989      1990      1991      1993      1994      1995      1997      1998      1999      2001      2002      2003      2005      2006      2007      2009      2010      2011      2013      2014      2015      2017      2018      2019      2021      2022      2023      2025      2026      2027      2029      2030      2031      2033      2034      2035      2037      2038      2039      2041      2042      2043      2045      2046      2047      2049      2050      2051      2053      2054      2055      2057      2058      2059      2061      2062      2063      2065      2066      2067      2069      2070      2071      2073      2074      2075      2077      2078      2079      2081      2082      2083      2085      2086      2087      2089      2090      2091      2093      2094      2095      2097      2098      2099

In [65]:
#sum of Nth term..................
n= int(input("Enter the nth term: "))
s=0.0
for i in range(1, n+1):
    a= 1.0/i
    s=s+a
print("The sum of 1,1/2,....... 1/",str(n)+ " is  "+str(s))

Enter the nth term: 8
The sum of 1,1/2,....... 1/ 8 is  2.7178571428571425

In [68]:
#Sum of Nth term squaring the denominators..................
n= int(input("Enter the nth term: "))
s=0.0
for i in range(1, n):
    a= 1.0/(i*i)
    s=s+a
    print(f"1/{i*i} + ", end = " ")
s+=1.0/(n*n)
print(f"1/{n*n}", end =" ")
print(" = ",s)

Enter the nth term: 4
1/1 +  1/4 +  1/9 +  1/16  =  1.4236111111111112

In [5]:
n= int(input("Enter the nth term: "))
s=0.0
for i in range(1, n):
    a= 1.0/(i)
    s=s+a
    print(f"1/{i} + ", end = " ")
s+=1.0/(n)
print(f"1/{n}", end =" ")
print(" = ",s)

Enter the nth term: 5
1/1 +  1/2 +  1/3 +  1/4 +  1/5  =  2.283333333333333

In [4]:
#capitalize keyword
s="vamshi"
print(s.capitalize())

Vamshi

In [6]:
#pascals triangle
#floyd's triangle
#ceaser cipher
#zfill
#Hollo triangle{set squares}

In [11]:
#center keyword..............
s="vamshi"
print(s.center(11,'$'))

$$$vamshi$$

In [18]:
#count string
string = "Sv"
substring="lSvlSvlllSvllSVlllsvl"
print(substring.count(string,0,len(substring)))

3

In [19]:
#find keyword
str="hlo hi"
print(str.find("hi",0,len(str)))

4

In [22]:
#symntax for left justification
s="hi"
print(s.ljust(20,'^'))
print(s.rjust(20,'^'))

hi^^^^^^^^^^^^^^^^^^
^^^^^^^^^^^^^^^^^^hi

In [25]:
#zfill(width)
s="7"
print(s.zfill(3))

007

In [26]:
#Title keyword
str="hlo hi"
print(str.title())

Hlo Hi

In [30]:
#Title and swapcase  keyword
str="hLO hI hW aRE yOU"
print(str.title())
print(str.swapcase())

Hlo Hi Hw Are You
Hlo Hi Hw Are You

In [31]:
#Using enumeration
str = "Tribute to captain Jack Sparrow"
print(list(enumerate(str)))

[(0, 'T'), (1, 'r'), (2, 'i'), (3, 'b'), (4, 'u'), (5, 't'), (6, 'e'), (7, ' '), (8, 't'), (9, 'o'), (10, ' '), (11, 'c'), (12, 'a'), (13, 'p'), (14, 't'), (15, 'a'), (16, 'i'), (17, 'n'), (18, ' '), (19, 'J'), (20, 'A'), (21, 'c'), (22, 'k'), (23, ' '), (24, 'S'), (25, 'p'), (26, 'a'), (27, 'r'), (28, 'r'), (29, 'o'), (30, 'w')]

In [32]:
#space between letters
str = "Myself Vamshi"
for i in str:
    print(i, end=" ")

M y s e l f   V a m s h i

In [46]:
#ceaser cipher
str = "Vamshi teja"
index = 0
while index < len(str):
    letter = str[index]     
    print(chr(ord(letter)+2), end=" ") #ord is used to convert char to ascii
    index+=1

X c o u j k " v g l c

In [51]:
#Abecedarian series
s="Teja"
v=['a','b','c','d','e']
for i in v:
    print(i+s)

aTeja
bTeja
cTeja
dTeja
eTeja

In [56]:
#In  a series of numbers we have to find the 12th nd 13th position elements
for i in range (0, 11):
    print(7*i, end=" ")
    print(6*i, end=" ")

0 0 7 6 14 12 21 18 28 24 35 30 42 36 49 42 56 48 63 54 70 60

In [75]:
val= int(input("Enter the position"))
a=b=0
for i in range(1, val+1):
    if(i%2!=0):
        a=a+7
    else:
        b=b+6
if(val%2!=0):
    print('{} at accordance {}'.format(val,a-7))
else:
    print('{} at accordance {}'.format(val,b-6))

Enter the position12
12 at accordance 30

In [69]:
#position finding
j,k = 0,0
v=int(input("Enter the position: "))
l=[]
for i in range(0,20):
    if(i%2==0):
        l.append(2**j)
        j+=1
    else:
        l.append(3**k)
        k+=1
print(l)
print(f"{v} at accordance {l[v-1]}")

Enter the position: 13
[1, 1, 2, 3, 4, 9, 8, 27, 16, 81, 32, 243, 64, 729, 128, 2187, 256, 6561, 512, 19683]
13 at accordance 64

In [79]:
#Position finding
val= int(input("Enter the position: "))
a=b=1
for i in range(1, val+1):
    if(i%2!=0):
        a=a*2
    else:
        b=b*3
print("Present position of a: ", a)
print("Present position of b: ",b)
if(val%2!=0):
    print('{} at accordance {}'.format(val,a//2))
else:
    print('{} at accordance {}'.format(val,b//3))

Enter the position: 12
Present position of a:  64
Present position of b:  729
12 at accordance 243